<div class="row">
    <div class="col-md-8 well">
        <p><%= comment.description %></p>
        <p>
         <span class="quiet"><small>Created by: <%= time_ago_in_words(comment.created_at) %></small></span>
        </p>
    </div>
</div>   
