<h1> Users Chat </h1>
<div class="row chat-container">
    <div class="col-md-8 center-block">
        <div class="messages" id="messages">
            <%= render @messages %>
        </div>
    </div>
<div>
<hr />
<div class="message-container">
    <%= form_for(@message, remote: true,  :html => {class: "form-horizontal", role: "form"}) do |f| %> 
        <%= f.text_area :content, class: "form-control", placeholder: "Say something" %>
        <%= f.submit "send", class: 'btn btn-primary' %>
    <% end %>
</div>

    
