<h1 align="center">Stops Information</h1>
<div class="well col-md-8 col-md-offset-2">
    <h4 class="center"> <%= @stop.name %></h4>
    <h4 class="center"> <%= @stop.latitude %> &nbsp <%= @stop.longitude %></h4>
</div>
