<h1 align="center">Routes Information</h1>
<div class="well col-md-8 col-md-offset-2">
    <h4 class="center"><strong>Source: </strong> <%= @route.source %></h4>
    <h4 class="center"><strong>Destination: </strong><%= @route.destination %></h4>
    <h4 class="center"><strong>time: </strong><%= @route.time %></h4>
</div>


