@import "bootstrap-sprockets";
@import "bootstrap";

.center-block {
  float: none;
}

.chat-container {
  bottom: 3;
  left: 5;
  right: 5;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 3px solid red;
  height: 16em;
  position: relative;
  overflow: auto;
}