<!DOCTYPE html>
<html>
<head>
  <title>LGU Bus Tracker Log In</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="login-page">
  <%= yield %>
</body>

</html>
